*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: orange;
}

h1{
    pointer-events: none;
    font-size: 12vw;
}

button{
    font-size: 6vw;
    padding: 1rem;
    border: none;
    background: linear-gradient(
        45deg,
        red,
        orange,
        yellow,
        green,
        blue
        );
}
