* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lobster", cursive;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: orange;
    overflow: hidden;
    position: relative;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: relative;
    width: 100vw;
}

h3{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
}

.limb{
    /* StartValue */
    opacity: 0;
    position: absolute;
    width: min(80px, 15vw);
    aspect-ratio: 1 / 1;
    font-size: 28px;

    background: linear-gradient(
        45deg,
        red 10%,
        orange 30%,
        yellow 45%,
        green 65%,
        blue 85%
    );
    border-radius: 50%;
    border: rgba(0,0,0) 3px solid;
    box-shadow: 0 0 0 8px rgba(255,255,255,0.4);
    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.feet{
    bottom: 24px;
}

.arm {
    top: 24px;
}

.right{
    right: 24px;
}

.left{
    left: 24px;
}

.feet.left,
.arm.left{
    transform: scaleX(-1);
}

h1 {
    pointer-events: none;
    font-size: 12vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    color: black;
}

button {
    font-size: 8vw;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;

    padding: 1rem;
    border: 2px solid black;
    border-radius: 12px;
    box-shadow: 4px 6px 0px 2px rgba(0, 0, 0, 1);
    width: 80vw;
    max-width: 500px;

    background: linear-gradient(
        45deg,
        red 10%,
        orange 30%,
        yellow 45%,
        green 65%,
        blue 85%
    );
}

@media (max-width: 1800px) {
    @media (orientation: landscape) {

        .container {
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 90vw;
        }

        button:first-of-type {
            width: 90vw;
        }

        button {
            width: unset;
            max-width: unset;
            flex-grow: 1;
        }
    }

    @media (orientation: portrait) {
        h1{
            font-size: 16vw;
        }
    }
}
